body {
    background: #3D95EC;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #FFF;
    font-family: Arial;
}

.st0 {
    fill: #FFF;
}

.st1 {
    fill: none;
}

#heading {
    padding: 20px 20px 40px;
    background: #024;
}

a {
    color: #fff;
}

h1 {
    font-size: 38px;
    font-weight: 700;
}

h2 {
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

#icon {
    display: block;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    margin: auto;
}

#options {
    margin-top: 50px;
    margin-bottom: 75px;
    text-align: center;
}

.option {
    width: 400px;
    display: block;
    margin: auto;
    overflow: hidden;
    text-align: left;
}

label {
    text-align: right;
    display: inline-block;
    font-size: 20px;
    width: 100px;
}

select {
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    color: #333;
    display: inline-block;
    margin: 10px;
}